<app-header-components></app-header-components>
<app-menu></app-menu>
<div>
    <div class="container">
        <div class="row">
            <div class="col-4">

                <app-datos></app-datos>
            </div>
            <div class="col-8">
                <app-right></app-right>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-post></app-post>
                            </div>

                        </div>


                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <app-pais></app-pais>
                                </div>
                                <div>
                                    <app-peru></app-peru>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <app-footer></app-footer>