<div class="align-middle">
    <div>


        <p>Nombre: GGS <br> email: calidadggs@gmail.com <br> Direccion: jr. El batan 347-Cajamarca <br> Tefono: 986324976</p>

    </div>
    <div>
        <section class="content">


            <div class="social">
                <ul>
                    <li>
                        <a href="http://www.facebook.com/usuario" target="_blank" class="icon-facebook"></a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/usuario" target="_blank" class="icon-twitter"></a>
                    </li>
                    <li>
                        <a href="http://www.googleplus.com/usuario" target="_blank" class="icon-google-plus"></a>
                    </li>
                    <li>
                        <a href="http://www.pinterest.com/usuario" target="_blank" class="icon-pinterest"></a>
                    </li>
                    <li>
                        <a href="mailto:contacto@dominio.com" class="icon-envelop"></a>
                    </li>
                </ul>
            </div>

        </section>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
        Información
      </button>
    <p>
        EMPRESA DEDICADA A DAR CONSULTORÍA EN GESTIÓN DE PROCESOS Y DE RECURSOS HUMANOS
    </p>
    <div>

    </div>
</div>